name: Test

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      cache: true
      napi: false
      package-manager: yarn
      target-name: test
      nightly-versions: true
